<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>jersey</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <!-- Register resources and providers under com.vogella.jersey.first package. -->
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.nguyenmp.cs263.jaxb</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jersey</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>


    <!--  Everything below this point is for the real class  -->
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>com.nguyenmp.cs263_real.servlet.Index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>users</servlet-name>
        <servlet-class>com.nguyenmp.cs263_real.servlet.UsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>users</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>user</servlet-name>
        <servlet-class>com.nguyenmp.cs263_real.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/user/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>computers</servlet-name>
        <servlet-class>com.nguyenmp.cs263_real.servlet.ComputersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>computers</servlet-name>
        <url-pattern>/computers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>computer</servlet-name>
        <servlet-class>com.nguyenmp.cs263_real.servlet.ComputerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>computer</servlet-name>
        <url-pattern>/computer/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>usage</servlet-name>
        <servlet-class>com.nguyenmp.cs263_real.servlet.UsageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>usage</servlet-name>
        <url-pattern>/usage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>background_usage</servlet-name>
        <servlet-class>com.nguyenmp.cs263_real.servlet.BackgroundUsageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>background_usage</servlet-name>
        <url-pattern>/background_usage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>persist_task</servlet-name>
        <servlet-class>com.nguyenmp.cs263_real.servlet.PersistTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>persist_task</servlet-name>
        <url-pattern>/persist_task</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>datastore_to_blobstore</servlet-name>
        <servlet-class>com.nguyenmp.cs263_real.servlet.DatastoreToBlobstoreConverter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>datastore_to_blobstore</servlet-name>
        <url-pattern>/datastore_to_blobstore</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>delete_datastore_date_computer</servlet-name>
        <servlet-class>com.nguyenmp.cs263_real.servlet.DatastorePruner</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete_datastore_date_computer</servlet-name>
        <url-pattern>/delete_datastore_date_computer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>blobstore_server</servlet-name>
        <servlet-class>com.nguyenmp.cs263_real.servlet.BlobstoreServer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>blobstore_server</servlet-name>
        <url-pattern>/blobstore_server</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>timeline</servlet-name>
        <servlet-class>com.nguyenmp.cs263_real.servlet.Timeline</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>timeline</servlet-name>
        <url-pattern>/timeline</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>porter</servlet-name>
        <servlet-class>com.nguyenmp.cs263_real.servlet.Porter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>porter</servlet-name>
        <url-pattern>/porter</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>update_cache</servlet-name>
        <servlet-class>com.nguyenmp.cs263_real.servlet.UpdateCache</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>update_cache</servlet-name>
        <url-pattern>/update_cache</url-pattern>
    </servlet-mapping>
</web-app>
